
   
    <h1><i>Home Page :-Codieal||<%=title%></i></h1><br>

    <section id="feed-posts">
        <h1>Posts</h1>
        <form action=""  method="POST">
            <textarea cols="30" rows="3" name="content"></textarea>
            <input type="submit" value="Post">

        </form>
    </section>
    