<!DOCTYPE html>
<head><title> <%=title%> </title></head>
<body>
    <!-- <%- include('_header') %> -->
    <h1><i>User Profile ejs<%=title%></i></h1>
    <!-- <%- include('_footer') %> -->
</body>
</html>