<h1>Sign Up Page</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" required placeholder="NAME"><br>
    <input type="email" name="email" required placeholder="example@email.com"><br>
    <input type="password" name="password" required placeholder="password"><br>
    <input type="password" name="conform_password" required placeholder="conform-password"><br>
    <button type="submit">Sign Up</button>
</form>